<div class="mobileWrap">
    <ul class="mainNav">
        [@cms.area name="navLinks" /]
        <li class="signUp" id="userInfo-2">
        <authentication v-cloak >
            <a href="/home/projects.html"  slot="secured">My Projects</a>
            <a href="javascript:login()" slot="public">Sign Up</a>
        </authentication>
        </li>
</ul>
</div>

