
/* ==========================================================================
   header Styling
   ========================================================================== */





header.header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 3;
	@include desktop {
		height: 100vh;
	    width: 100px;
	    color: #fff;
	}

	@include widescreen {
	    width: 120px;
	}
	@include fullhd {
	    width: 140px;
	}

	.bookmark {
		height: 100%;
		width: 100%;
		background-color: lighten($pc,10%);
		position: relative;
		z-index: 2;
	    display: inline-block;
	    font-family: $font2;
		@include desktop {
			background-color: $pc;
			padding: 20px;
		}
		.menuActivator {
			@include touch {
				width: 62px;
	    		float: right;
	    		z-index: 2;
	    		position: relative;
	    	}
		}
		.logo {
			@include fullhd {
				padding: 0 8%;
			}
			@include touch {
				padding: 10px 20px 10px 20px;
			    width: 80%;
			    max-width: 210px;
			    display: flex;
			    background: $pc;
			    position: absolute;
			    z-index: 2;
			}
			@include mobile {
				max-width: 185px;
			}
			img {
				padding: 0 6px;
			}
			img#logo-top {
				@include touch {
					width: 40%;
				}
			}
			img#logo-bottom {
				@include touch {
					width: 60%;
				}
			}
		}

		.siteTitle {
			@include tiny {
				display: none;
			}
			@include touch {
				height: 100%;
			    position: absolute;
			    right: 70px;
			}
			@include desktop {
			    height: auto;
			    position: absolute;
			    bottom: 40px;
			    top: 300px;
			    left: 0;
			    width: 100%;
			}

		    .titleCenter {
			    height: 100%;
			    font-size: calc(7px + .7vw);
			    line-height: 1.1em;
			    float: right;
			    flex-wrap: wrap;
			    text-align: right;
			    display: flex;
			    align-items: center;
			    @include touch {
			    	line-height: 1.2em;
			    }

			    @include desktop {
			    	font-size: calc(8px + 1.2vh);
			    	text-align: left;
			    	transform: rotate(-90deg);
				    width: calc(100vh - 260px);
				    transform-origin: bottom left;
				    position: absolute;
				    bottom: 0;
				    left: 100%;
				    padding-left: 30px;
				    height: 100px;
				    float: none;
			    }

				@include widescreen {
				    height: 120px;
				    font-size: calc(9px + 1.2vh);
				    width: calc(100vh - 290px);
				}
				@include fullhd {
				    height: 140px;
				    font-size: calc(9px + 1.6vh);
				    width: calc(100vh - 320px);
				}
			    p{
				    span {
				    	display: inline-block;
				    	&.reportTitle {
					    	width: 100%;
					    	font-size:.8em;
				    	}
				    }
				}
		    }
		}
	}




	.slideNav {
	    position: absolute;
	    left: 0;
	    width: 100vw;
	    font-family: $font2;
	    background-color: lighten($pc,10%);
	    padding: 30px;
	    z-index: -1;
	    transition: top .5s ease-in-out, left .5s ease-in-out;
	    @include mobile {
	    	padding: 20px 20px 20px 16px;
	    }
	    @include touch {
	    	top: -100vh;
	    	height: calc(100vh - 40px);
	    	padding-top: 120px;
	    	
	    	&.open {
	    		top: 0;
	    	}
	    }
	    @include desktop {
	    	max-width: 460px;
	    	left: -400px;
	    	top: 0;
	    	height: 100vh;
	    	&.open {
	    		left: 100%;
	    	}
	    }


	    nav.navigation {
	    	padding-right: 20px;
	    	height: calc(100% - 100px);
	    	overflow-y: auto;
	    	@include mobile {
	    		padding-right: 8px;
	    	}
			&::-webkit-scrollbar {
				width: 8px;
				background-color: transparent;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
				background-color: rgba(0,0,0,0.1);
			}
			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
				border-radius: 10px;
				background-color: rgba(0,0,0,0.1);
			}


			.homeLink {
				font-size: .8em;
				a {
					color: $sc;
				}
				svg {
				    width: 14px;
				    height: auto;
				    display: inline;
					* {
						fill: $sc;
					}
				}
			}

	    	a {
	    		display: inline-block;
	    		width: 100%;
    			color: $tc;
    			padding: 6px 10px;
    			span {
    				color: $sc;
    				margin-right: 4px;
    			}
    			&:hover {
    				background-color: lighten($pc, 8%);
    			}
	    	}

		    h2 {
		    	padding: 0 10px;
		    }
		    ul {
		    	margin: 12px 0;
		    	&#supportNav {
		    		margin: 20px 0;
		    	}
		    	li {
		    		position: relative;

		    		&.active {
		    			&>a {
		    				background-color: lighten($pc, 5%);
		    			}
		    		}


		    		a {
		    			padding-right: 35px;
		    		}

		    		.subToggle {
		    			position: absolute;
		    			top: 0;
		    			right: 0;
		    			cursor: pointer;
		    			overflow: hidden;
					    display: flex;
					    height: 35px;
					    align-items: center;
					    justify-content: center;
					    width: 30px;

		    			svg {
		    				transition: transform .5s;
		    			}
		    			&.toggled {

		    				svg {
		    					transform: rotate(180deg);
		    				}
		    			}
		    		}
		    		.subNav {
		    			overflow: hidden;
		    			height: 0;
		    			ul {
		    				margin-top: 4px;
		    				padding-left: 20px;
		    				font-size: .8em;
		    				li {
		    					a {
		    						padding:4px 10px;
		    						span {
		    							color: $tc;
		    						}
		    					}
		    				}
		    			}
		    		}
		    	}
		    }
	    }

	    .menuFooter {
	    	position: absolute;
	    	bottom: 0;
	    	left: 0;
	    	width: 100%;

	    	#searchform {
			    position: relative;
			    height: 40px;
			    padding: 0 20px;
			    input.searchInput {
			    	height: 100%;
				    font-size: .8em;
				    padding: 10px 16px;
			    	padding-right: 45px;
			    	border: 0 none;
			    	border-radius: 0;
			    	background-color: lighten($pc, 4%);
					&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
					  color: $tc;
					  opacity: .5;
					}

					&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					  color: $tc;
					  opacity: .5;
					}

					&::-ms-input-placeholder { /* Microsoft Edge */
					  color: $tc;
					  opacity: .5;
					}
			    }
			    .searchSubmit {
			    	position: absolute;
			    	right: 16px;
   					border: 0 none;
			    	top: 0;
			    	height: 100%;
			    	background-color: transparent;
			    	width: 45px;
			    	svg {
						width: 1.1rem;
					    height: 1.1rem;
					    opacity: .4;
			    	}
			    }
			}

			.termsCond {
			    height: 40px;
			    border-top: 1px solid rgba(255,255,255,.4);
			    padding: 0 20px;
			    display: flex;
			    align-items: center;
			    font-size: .8em;
			    color: $textColor;
			    margin-top: 24px;
			}
	    }




	}



}


.arrowNavigation {
	position: fixed;
	bottom:0;
	width: 100%;
	left: 0;
	background-color: $tc;
	display: flex;
	flex-wrap: wrap;
	height: 40px;
	z-index: 3;
	@include desktop {
	    width: 100px;
	}
	@include widescreen {
	    width: 120px;
	}
	@include fullhd {
	    width: 140px;
	}
	a {
		width: 100%;
		height: 100%;
		text-align: center;
		vertical-align: middle;
		position: absolute;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		font-family: $font2;
		color: #fff;
		&:hover {
			background-color: lighten($tc,10%);
		}

	}
	.rightArrow {
		width: 50%;
		height: 100%;
		position: relative;
		a::before {
			content: '';
			transition: opacity .5s;
			opacity: 0;
			
		}
		a::after {
			content: '';
			transition: opacity .5s;
			opacity: 0;
			
		}
		a:hover {
			&::after {
				opacity: 1;
			  content: "Next Page";
			  position: absolute;
			  bottom: calc(100% + 8px);
			  padding: 2px 4px;
			  width: 90px;
			  left: 10px;
			  font-size: .8em;
				background-color: $sc;
			}
			&::before {
				opacity: 1;
				content: '';
			  width: 0; 
			  height: 0; 
			  border-left: 6px solid transparent;
			  border-right: 6px solid transparent;
			  border-top: 6px solid $sc;
			  position: absolute;
			  bottom: calc(100% + 2px);
			  left: 20px;
			}
		}

	}
	.leftArrow {
		width: 50%;
		height: 100%;
		position: relative;
		border-right: 1px solid rgba(255,255,255,.2);
		svg {
			transform: rotate(180deg);
		}
		a::before {
			content: '';
			transition: opacity .5s;
			opacity: 0;
			
		}
		a::after {
			content: '';
			transition: opacity .5s;
			opacity: 0;
			
		}
		a:hover {
			&::after {
				opacity: 1;
			  content: "Prev Page";
			  position: absolute;
			  bottom: calc(100% + 8px);
			  padding: 2px 4px;
			  width: 90px;
			  left: 10px;
			  font-size: .8em;
				background-color: $sc;
			}
			&::before {
				opacity: 1;
				content: '';
			  width: 0; 
			  height: 0; 
			  border-left: 6px solid transparent;
			  border-right: 6px solid transparent;
			  border-top: 6px solid $sc;
			  position: absolute;
			  bottom: calc(100% + 2px);
			  left: 20px;
			}
		}

	}
}


.scrollMore {
    position: fixed;
    bottom: 0;
    color: $pc;
    z-index: 2;
    font-family: $font2;
    transform: scale(.8);
    transform-origin: bottom left;
    display: none;
    padding: 14px 40px 14px 0;
    background-color: #fff;
    transition: opacity .5s ease-in-out;

    &.hide {
    	opacity: 0;
    	transition: opacity .5s ease-in-out;
    }

    p {
    	margin: 0!important;
    	&::before {
    		content: "";
    		display: inline-block;
    		width: 34px;
    		height: 1px;
    		background-color: $tc;
    		vertical-align: middle;
    		transform: translateY(-1px);
    		margin-right: 12px;
    	}
    }


    @include widescreen {
    	display: inline-block;
    	left: 120px;
    }
	@include fullhd {
	    left: 140px;
	}


	@-webkit-keyframes ani-mouse {
		0% {
		opacity: 1;
		top: 29%;
		}
		15% {
		opacity: 1;
		top: 50%;
		}
		50% {
		opacity: 0;
		top: 50%;
		}
		100% {
		opacity: 0;
		top: 29%;
		}
	}
	@-moz-keyframes ani-mouse {
		0% {
		opacity: 1;
		top: 29%;
		}
		15% {
		opacity: 1;
		top: 50%;
		}
		50% {
		opacity: 0;
		top: 50%;
		}
		100% {
		opacity: 0;
		top: 29%;
		}
	}
	@keyframes ani-mouse {
		0% {
		opacity: 1;
		top: 29%;
		}
		15% {
		opacity: 1;
		top: 50%;
		}
		50% {
		opacity: 0;
		top: 50%;
		}
		100% {
		opacity: 0;
		top: 29%;
		}
	}
	 .scroll-btn {
	    position: absolute;
	    right: 6px;
	    top: 11px;
	    display: inline-block;
	}
	.scroll-btn > * {
		display: inline-block;
		line-height: 18px;
		font-size: 13px;
		font-weight: normal;
		color: $pc;
		letter-spacing: 2px;
	}
	.scroll-btn > *:hover,
	.scroll-btn > *:focus,
	.scroll-btn > *.active {
		color: $pc;
	}
	.scroll-btn > *:hover,
	.scroll-btn > *:focus,
	.scroll-btn > *:active,
	.scroll-btn > *.active {
		opacity: 0.8;
		filter: alpha(opacity=80);
	}
	.scroll-btn .mouse {
	    position: relative;
	    display: block;
			width: 18px;
   		height: 26px;
	    margin: 0 auto 0;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    border: 2px solid $pc;
	    border-radius: 23px;
	}
	.scroll-btn .mouse > * {
	    position: absolute;
	    display: block;
	    top: 29%;
	    left: 50%;
	    width: 4px;
	    height: 4px;
	    margin: -2px 0 0 -2px;
		background: $pc;
		border-radius: 50%;
		-webkit-animation: ani-mouse 2.5s linear infinite;
		-moz-animation: ani-mouse 2.5s linear infinite;
		animation: ani-mouse 2.5s linear infinite;
	}

}

			
section.pageHead {
	position: relative;
	background-color: #2D2D2D;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	overflow: hidden;


	&.inner {

		.headContent {
			font-family: $font2;
			h1, h2, h3, h4, h5, h6 {
				font-family: $font2;
			}
		}
		.headBg {
			opacity: .3;
		}

		&>.columns {
			margin:0;
		}

		.headSvg {
			background-image: url(../img/trees-divide-white.svg);
			padding-bottom: 10%;
		}

		.imgBackground {
			position: relative;
		    display: flex;
		    align-items: center;
		    padding-bottom: 100px;
		    padding-top: 230px;




		    @include widescreen {
		    	padding-top: 0;
		    	padding-bottom: 8vw;
		    	min-height: 93vh;
		    }
		    h1 {
		    	@include widescreen {
		    		font-size: calc(1em + 1.6vw);
		    	}

		    }
				&::after {
				    content: '';
				    position: absolute;
				    bottom: 0;
				    width: 100%;
				    height: 100px;
				    left: 0;
				    background: rgb(45,45,45);
				    background: linear-gradient(0deg, rgba(45,45,45,1) 0%, rgba(45,45,45,0) 100%);
				    @include widescreen {
				    	display: none;
				    }
				}
		}

		.dashboard {
			padding-bottom: 0;
		    display: flex;
		    align-items: center;

			@include widescreen {
				min-height: 93vh;
				padding-bottom: 7vw;
				background-color: #EEEFED;
				padding-top: 60px;
			}

			.container {
				background-color: #EEEFED;
				width: 100%;
				margin-top: -74px;
				padding-bottom: 12vw;
				padding-left: 6%;
				padding-right: 6%;
				flex-grow: unset;
				@include widescreen {
					margin-top: 0;
					width: 90%;
					padding-bottom: 0;
					padding-left: 0;
				    padding-right: 0;
				}
		    	.columns  {
		    		align-items: center;
		    		@include touch {
		    			margin-top: 0;
		    		}
		    		@include desktop-only {
		    			margin-top: 0;
		    		}
		    		@include widescreen-only {
			    		// .column:first-child {
			    		// 	padding-bottom: 0;
			    		// }
			    		// .column:last-child {
			    		// 	padding-top: 0;
			    		// }
			    		figure {
			    			// img {
			    			// 	max-width: 80%;
			    			// }
			    		}
			    	}

		    		figure {
		    			img {
		    				// width: 100%;
				    // 		@include touch {
								// max-width: 290px;
						  //   margin: 0 auto;
						  //   display: block;
				    // 		}
				    // 		@include desktop-only {
								// max-width: 290px;
						  //   margin: 0 auto;
						  //   display: block;
				    // 		}

		    			}
		    		}
					h2.dashStat {
					  font-size: 1.2em;
					  font-family: $font1;
					  font-weight: bold;
					    span {
					    	color: $qc;
					    	font-size: 1.6em;
					    	display: inline-block;
					    	width: 100%;
					    }
					}
		    	}
			}


		}

	}

	&.home{
	  	.headContent {
	  		.container {
	  			@include fullhd {
		    		padding-right: 20%;
		    	}
	  		}
		    display: flex;
		    align-items: center;
		    min-height: 95vh;

		   	padding-top: 200px;
		    padding-bottom: 27%;

	  	}
	}


	&.chapter {
		.headSvg {
			background-image: url(../img/trees-divide-white.svg);
			padding-bottom: 10%;
		}
		.headBg {
			opacity: .3;
		}
		.headContent {
	    display: flex;
	    align-items: center;
	    min-height: 95vh;
	   	padding-top: 200px;

			padding-bottom: 12%;
			@include desktop {
		    	padding-top: 80px;
		    	padding-bottom: 10%;
			}
			font-family: $font2;
			h1, h2, h3, h4, h5, h6 {
				font-family: $font2;
			}

			.introduction {
				@include widescreen {
					display: flex;
					align-items: center;
					padding-right: 10%;
				}
			}

			.sections {
				font-size: 13px;
				line-height: normal;
				h3 {
					margin-bottom: 0;
				}
				p {
					margin-top: 0;
				}
				.columns {
					margin-top: 0;
					margin-bottom: 0;
				}
				.column {
					padding-top: 0;
					padding-bottom: 0;
				}
			}

		}
	}

	.headBg {
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    opacity: .6;
	    background-size: cover;
	}

	.headContent {
		color: #fff;
		position: relative;
		width: 100%;
		z-index: 1;

	    .container {
	    	flex-grow: unset;

	    }

	    span.hl {
	    	font-family: $font1;
	    	font-weight: bold;
	    	font-size: 1.3em;
	    	color: $qc;
	    }

		a {
			color: $qc;
		}
		.sectionNo {
			color: $qc;
			font-weight: 600;
		}

		h1 {
			font-family: $font1;
			line-height: 1.2em;
			span {
				color: $qc;
				font-family: $font2;
				font-size: .9em;
				display: inline-block;
				width: 100%;
				margin-bottom: 1rem;
			}
		}
		.desc {
			font-family: $font2;
			color: $qc;
			font-size: 1.1em;
			font-weight: 600;
		}
		.accentLine {
			content: '';
		    height: 50vh;
		    position: absolute;
		    width: 1px;
		    top: 140%;
		    background: #fff;
		}
	}


	.headSvg {
		position: absolute;
	    bottom: -2px;
	    width: 100%;
	    padding-bottom: 20%;
	    background-image: url(../img/treeline-illustration-01.svg);
	    background-size: 100%;
	    background-position: bottom center;
	    left: 0;
	    background-repeat: no-repeat;
	}


	#reporting {
	    position: absolute;
	    top: 100px;
	    right: 0;
	    font-family: $font2;
	    font-size: .8em;
	    margin-right: 20px;
	    z-index: 2;
	    @include desktop {
	    	margin-right: 100px;
	    	top: 22px;
	    }
	    p {
	    	margin: 0;
	    	line-height: normal;
	    }
	    a {
	    	color: #fff;
	    }
	    &::after {
	    	content: '';
	    	position: absolute;
	    	bottom: 4px;
	    	height: 1px;
	    	background-color: #fff;
	    	left: 100%;
	    	width: 100px;
	    }
	    img {
	    	margin-left: 5px;
	    	margin-right: 10px;
	    }

	}


	#breadcrumb {
	    position: absolute;
	    top: 100px;
	    right: 0;
	    font-family: $font2;
	    font-size: .8em;
	    margin-right: 20px;
	    z-index: 2;
	    @include desktop {
	    	margin-right: 100px;
	    	top: 22px;
	    }
	    &::after {
	    	content: '';
	    	position: absolute;
	    	bottom: 50%;
	    	height: 1px;
	    	    background-color: #d9d9d9;
	    	left: 100%;
	    	width: 100px;
	    }
	    ul {
	    	padding-right: 10px;
	    	margin: 0;
	    	li {
	    		display: inline;
	    		font-weight: 600;
	    		color: #c5c5c5;
	    		&.seperator {
	    			padding: 0 4px;
	    		}
	    		a {
	    			color: lighten($pc,8%);
	    		}
	    	}
	    }
	}
}