
$pc: #A3AA83;
$sc: #478A2B;
$tc: #2D2D2D;
$qc: #B0BF68;

$textColor:#4C515A;
$font-size:17px;
$font-weight:300;

$font2:'Montserrat', sans-serif;
$font1:'Domine', serif;


$primary: $pc;
$secondary: $sc;

$link: $pc;
$text: $textColor;

