@media screen and (max-width: 1215px) {
  section.pageHead #breadcrumb ul li a {
    color: white;
  }
}
section.pageHead .headContent strong {
    font-family: "Domine", serif;
    font-weight: bold;
    font-size: 1.3em;
    color: #B0BF68;
}

.reference-item p {
    display: inline;
  
}
.reference-item {
    margin: 1rem 0 1rem;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    background-color: white;
  }

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;

    border-radius: 6px;
    padding: 15px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    font-size: 1.2em;
}
.tooltip .tooltiptext div {
    padding: 10px 0;
}
.tooltip .tooltiptext h3 {
    margin: 0px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
  @media screen and (max-width: 768px) {
    .tooltip .tooltiptext {
        position: fixed;
        top: 50px;
        left: 30px;
    }
  }
  @media screen and (min-width: 1024px) {
    .tooltip .tooltiptext {
      width: 600px;
    }
  }

/* green highlight text */
 .featureText.green {
    background-color: #478A2B;
    -webkit-box-shadow: 10px 0 0 #478A2B, -10px 0 0 #478A2B;
    box-shadow: 10px 0 0 #478A2B, -10px 0 0 #478A2B;
    color: #fff;
}
.featureText {
    display: inline;
    background: #fff;
    padding: 0.25em;
    line-height: 2.3em;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
    box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
}
.arrowNavigation a span {  
  visibility: hidden; 
  opacity: 1;  
  position: absolute;  
  bottom: calc(100% + 8px);
  padding: 2px 4px;
  width: 250px;
  left: 10px;
  font-size: .8em;
  background-color: #478A2B; 
}
.arrowNavigation .rightArrow-abmi a:hover::before,
.arrowNavigation .leftArrow-abmi a:hover::before {
  opacity: 1;
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #478A2B;
  position: absolute;
  bottom: calc(100% + 2px);
  left: 20px;
}

.arrowNavigation  a:hover span {  
  visibility: visible;  
}
.arrowNavigation .rightArrow-abmi {
  width: 50%;
  height: 100%;
  position: relative;
}
.arrowNavigation .leftArrow-abmi {
  width: 50%;
  height: 100%;
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.arrowNavigation .leftArrow-abmi svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media screen and (max-width: 1023px) {
  header.header .bookmark .logo {  
    padding: 5px 20px 5px 20px;  
    height: 100%;
    } 
}

/* adjust banner padding */
section.pageHead.home .headContent {  
  padding-top: 20%;
  min-height: 75vh;  
}

/* trending chart legend */
/* hf highchart graphs legend */
tag.chart-legend-icon {
  display: block;
  position: relative;
  padding: 5px 0 5px 30px;
}
tag.chart-legend-icon::before {
  content: ' ';    
  background-size: 25px 25px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0px;
  display: block;
}

tag.chart-legend-icon.large {
  display: block;
  position: relative;
  padding: 5px 0 5px 45px;
}
tag.chart-legend-icon.large::before {
  content: ' ';    
  background-size: 35px 35px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0px;
  display: block;
}



tag.chart-legend-icon.all_human_footprint::before, 
tag.chart-legend-icon.total_human_footprint::before{ 
  background-image: url('../img/SVGicons/icon-all_human_footprint.svg'); 
 }
 .violin-hover.Agriculture .content::before, 
tag.chart-legend-icon.agriculture::before { 
 background-image: url('../img/SVGicons/icon-agriculture.svg');

}
.violin-hover.Energy .content::before,
tag.chart-legend-icon.energy::before { 
 background-image: url('../img/SVGicons/icon-energy.svg'); 
}
.violin-hover.Forestry .content::before,
tag.chart-legend-icon.forestry::before { 
 background-image: url('../img/SVGicons/icon-forestry.svg'); 
}
.violin-hover.Transportation .content::before,
tag.chart-legend-icon.transportation::before,
tag.chart-legend-icon.transport::before
 { 
 background-image: url('../img/SVGicons/icon-transportation.svg'); 
}
.violin-hover.UrbanIndustrial .content::before ,
tag.chart-legend-icon.urban_rural::before,
tag.chart-legend-icon.urban::before ,
tag.chart-legend-icon.urban_industrial::before 
{ 
 background-image: url('../img/SVGicons/icon-urban_rural.svg'); 
}

tag.chart-legend-icon.human_created_waterbodies::before,
tag.chart-legend-icon.human-created_water_bodies::before {
 background-image: url('../img/SVGicons/icon-human_created_waterbodies.svg');
}
tag.chart-legend-icon.effective_human_footprint::before,
tag.chart-legend-icon.all_human_footprint_recovered::before {
 /* background-image: url('../img/SVGicons/icon-all_human_footprint_recovered.svg');
  */
  background-color: #333;
  -webkit-mask-image: url('../img/SVGicons/icon-all_human_footprint_recovered.svg'); 
  mask-image: url('../img/SVGicons/icon-all_human_footprint_recovered.svg'); 
}
tag.chart-legend-icon.forestry_recovered::before,
tag.chart-legend-icon.effective_forestry::before
 { 
 /* background-image: url('../img/SVGicons/icon-forestry_recovered.svg');  */
 background-color: #00734c;
  -webkit-mask-image: url('../img/SVGicons/icon-forestry_recovered.svg'); 
  mask-image: url('../img/SVGicons/icon-forestry_recovered.svg'); 
}
/* linear density */
tag.chart-legend-icon.total::before { 
  background-color: #333;
  -webkit-mask-image: url('../img/SVGicons/icon-all_human_footprint_recovered.svg'); 
  mask-image: url('../img/SVGicons/icon-all_human_footprint_recovered.svg'); 
 }
tag.chart-legend-icon.seismic_line::before { 
  background-color: #00734c;
  -webkit-mask-image: url('../img/SVGicons/icon-seismic_line.svg'); 
  mask-image: url('../img/SVGicons/icon-seismic_line.svg'); 
}
tag.chart-legend-icon.seismic_line_convention::before { 
  background-color: #0c6960;
  -webkit-mask-image: url('../img/SVGicons/icon-conventional_seismic_line.svg'); 
  mask-image: url('../img/SVGicons/icon-conventional_seismic_line.svg'); 
}
tag.chart-legend-icon.road::before {
  background-color: #4e4e4e;
  -webkit-mask-image: url('../img/SVGicons/icon-road.svg'); 
  mask-image: url('../img/SVGicons/icon-road.svg');   
}

tag.chart-legend-icon.road_minor::before {
  background-color: #795548;
  -webkit-mask-image: url('../img/SVGicons/icon-roads_minor.svg'); 
  mask-image: url('../img/SVGicons/icon-roads_minor.svg');   
}

tag.chart-legend-icon.pipeline::before {
  background-color: #e68514;
  -webkit-mask-image: url('../img/SVGicons/icon-pipeline.svg'); 
  mask-image: url('../img/SVGicons/icon-pipeline.svg'); 
  
}
tag.chart-legend-icon.transmission_line::before { 
  background-color: #e60000;
  -webkit-mask-image: url('../img/SVGicons/icon-transmission_line.svg'); 
  mask-image: url('../img/SVGicons/icon-transmission_line.svg'); 
  }
tag.chart-legend-icon.rail::before { 
  background-color: #A900e6;
  -webkit-mask-image: url('../img/SVGicons/icon-rail.svg'); 
  mask-image: url('../img/SVGicons/icon-rail.svg'); 
}
/* end highchart legend */
a.tabLink.btn {
  padding: 10px 20px;
  margin: 0 10px;
  display: inline-block;
  border: 1px solid #6d6d6d;
  color: #6d6d6d;
  
}
a.tabLink.btn.is-active {
  border-color: #2D2D2D;
  background-color: #fff;
  color: #2D2D2D;
  background-color: #e3e3e3;
  cursor: default;
}

.table-cell {
  display: table-cell;
}

/* map */
.hf-map {            
  width: 100%;
  height: 100%;
  min-height: 700px;
  position: relative;
  border: #ccc 1px solid;
}
#hf-legend {
  position: absolute;
  bottom: 0;
  left: 0;
  /* width: 20%; */
  /* height: 30%; */
  border: #ccc 1px solid; 
  background-color: #fff;
  padding: 5px;
  z-index: 2;
  min-width: 100px;
}
#hf-legend.compress .legend-container {
  display: none;
}
#hf-legend.expand .legend-container {
  display: block;
}
#hf-legend .icon {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  background-size: cover;
}
#hf-legend .icon {
  background-image: url(../img/expand.gif); 
}

#hf-legend.expand .icon {
  transform: rotate(180deg);
}
.legend-row, .legend-header {
  display: flex;
}

.legend {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}

/* end of map */

/* Styling Checkbox Starts */
.checkbox-label {
  display: block;
  position: relative;
  
  cursor: pointer;
  font-size: 22px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  clear: both;
  margin-right: 5px;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #333;
}


.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 2px solid #ccc;
}


.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
-webkit-transform: rotate(45deg) scale(1);
-ms-transform: rotate(45deg) scale(1);
transform: rotate(45deg) scale(1);
opacity:1;
left: 5px;
    top: 0px;
    width: 7px;
    height: 15px;
border: solid #333;
border-width: 0 2px 2px 0;
background-color: transparent;
border-radius: 0;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid #333;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);    
}

.checkbox-label input:checked ~ .checkbox-custom::before {
  left: -3px;
  top: -3px;  
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity:0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-label .checkbox-custom.radio, .checkbox-label input:checked ~ .checkbox-custom.radio {
 
  border-radius: 25px;
}
.checkbox-label input:checked ~ .checkbox-custom.radio::after {
  -webkit-transform: scale(1);
  -ms-transform:  scale(1); 
  opacity: 1; 
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 25px!important;  
  background-color: black;
 
}

/* custom css loading spinner */
.lds-spinner {
  display: inline-block;
  position: absolute;  
  top: 40%;
  left: 40%;
  z-index: 10;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgb(231, 5, 16);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* done spinner */
.content ul.tabList {
  margin-bottom: 40px !important;

}
/* graph, chart bar tab button */
.content .tabList.chart .tab>a {
  /* border-color: #2D2D2D; */
  padding: 10px 40px!important;
  display: inline-block;
  border: 1px solid #6d6d6d;
  color: #6d6d6d;
  background-color: #fff;
}
.content .tabList.chart .tab>a.is-active {
  /* border-color: #2D2D2D; */
  background-color: #97AC39;
  color: #fff;

  
}

.centered {
  text-align: center;
}

.circle-div, .circle-img {
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  max-width: 60px;
}


.italic {
  font-style: italic;
}
.percentBod {
  text-align: center!important;
}
table.dataTable.culture-table  .cname {
  width: 20%!important;
}

table.dataTable.culture-table  .sname {
  width: 20%!important;
}

table.dataTable.culture-table  .datatableimg ,
table.dataTable.culture-table  .img {
  width: 10%!important;
}

div.treeWrap.grey::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/trees-divide-grey.svg);
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
}

div.treeWrap.flower img, 
div.treewrap.flower img, 
.featureBlock .featureImage.flower{ 
 
  display: inline-block;
    -webkit-mask-image: url(../img/Feature_Image_Silhouette_2_1.svg);
    -webkit-mask-size: 100% 100%;
    mask-size: 99%;
    -webkit-mask-repeat: round;
    mask-repeat: round;

}
div.treeWrap.leaf img,
div.treewrap.leaf img, 
.featureBlock .featureImage.leaf { 
  /* background-image: url(../img/Feature_Image_Silhouette_2_1.svg);  */
  display: inline-block;
  -webkit-mask-image: url(../img/Feature_Image_Silhouette_1.svg);
  -webkit-mask-size: 100% 100%;
  mask-size: 99%;
  -webkit-mask-repeat: round;
  mask-repeat: round;

}
div.treeWrap.flower::after,
div.treeWrap.left::after { 
  width: 0%;
  height: 0%;
}

/*violin chart popover */
.violin-hover {
	position: absolute;
    top: 10px;
    padding: 5px;
    border: 2px solid aliceblue;
    z-index: 1005; /*modal bar is 1001*/
    padding: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 10px;
    max-height: 50%;
    overflow-y: auto;
    display:none;
}
 .violin-hover span{
    color: #FBB31B;
    cursor: pointer;
    position: absolute;
    right: 5px;
    }
    
.violin-hover ul{
 font-size:1em;
 line-height:1.5em;
 margin-top: 0;
}
.violin-hover ul{
 font-size: 0.8em;
 line-height:1.5em;
}

.violin-hover ul i{
	color:#FF9800
}   

.violin-hover .content::before {
	content: " ";	
	width: 30px;
    height: 25px;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 5px;
}

.violin-hover.sppPop .content::before {
	  content: " ";	
	  width: 30px;
    height: 25px;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
    padding-right: 5px;
}


.violin-hover .content {
    font-weight: 800;
}

.violin-hover .content ul , .violin-hover .content div{
    font-weight: 400;
}

.violin-hover .highlight {
  padding-left: 30px; 
  color: #ffaa00;
}
.violin-hover ul {
  padding-top: 5px;
}
.violin-hover li.spp-name {
  color: #4caf50;
  font-weight: 600;
}
.violin-hover .columns.no-margin {
  margin: 0;
}
.violin-hover .columns.no-margin .column {
  padding: 10px 0 10px 20px;
} 
/* plotly violin hover */

.violin-hover.Agriculture .content::before, 
tag.icon.agriculture::before { 
 background-image: url('../img/SVGicons/icon-agriculture.svg');

}
.violin-hover.Energy .content::before,
tag.icon.energy::before { 
 background-image: url('../img/SVGicons/icon-energy.svg'); 
}
.violin-hover.Forestry .content::before,
tag.icon.forestry::before { 
 background-image: url('../img/SVGicons/icon-forestry.svg'); 
}
.violin-hover.Transportation .content::before,
tag.icon.transportation::before,
tag.icon.transport::before
 { 
 background-image: url('../img/SVGicons/icon-transportation.svg'); 
}
.violin-hover.UrbanIndustrial .content::before ,
tag.icon.urban_rural::before,
tag.icon.urban::before { 
 background-image: url('../img/SVGicons/icon-urban_rural.svg'); 
}

.dropdown-menu {
  z-index: 2!important;
}
.content .dropdown-content {
  padding-left: 1rem;
}
.content .dropdown-content ul.tabList {
  max-height: 200px;  
  overflow: scroll;
}

.content .dropdown-content ul.tabList li div {
  display: flex;
  align-items: center;  /*  vertical alignment */
}
.content .dropdown-content ul.tabList li div .circle-img {
  overflow: unset;
  max-height: 60px;
  
}

.dropdown-trigger .button {
  min-width: 200px;
}
/* sector effect selection space decreased */
.centerSelect {
  margin: 40px 0;
}
.middle {
  vertical-align: middle;
  display: inline-block;
}
img.header-icon {
  max-width: 40px;
}
.middle img , img.middle {
  display: inline;
  vertical-align: middle;
}
a.middle.sppName {
  padding: 10px 20px 10px 30px ;
  width: initial;
  margin: 0;
  display: inline-block;
  border: 0 none;
  color: #6d6d6d;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.content .dropdown-content ul.tabList li a {
  width: unset;
}
.centerSelect hr {
  margin: 0 0px -40px 0;
}

figure figcaption {
  font-size: 0.85em;
}

.no-padding-top {
  padding-top: 0px;
  margin-top: 5px;
}
.no-padding-bottom {
  padding-bottom: 0px;
  margin-bottom: 5px;
}

h4, .h4 {
  color: #478A2B;
}

footer {
  margin-top: 0px!important;
 
}


.featureBlock .featureContent p {
  margin-left: -10%!important;
}

.content ul.custom-tabList li {
  display: inline-block;
}

.content ul.custom-tabList li a {
  padding: 10px 20px;
  margin: 0 10px;
  display: inline-block;
  border: 1px solid #6d6d6d;
  color: #6d6d6d;
  cursor: pointer;
}

.content ul.custom-tabList {
  list-style: none;
  margin: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  margin-top: 40px !important;
  margin-bottom: 80px !important;
  text-align: center;
}
.content ul.custom-tabList li a, .content ul.tabList li a{
  
  background-color: #fff;
  border: 1px solid #6d6d6d;
  color: #6d6d6d;
  cursor: pointer;
}
.content ul.custom-tabList li a.is-active , .content ul.tabList li a.is-active{
    border-color: #2D2D2D;
    background-color: #97AC39;
    color: #fff;
    cursor: default;
}

.subRow {
  margin-left: 5px;
}

.mapbox-gl-draw_polygon {
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: auto;
  background-image: url('../img/SVGicons/ZoomToExtents.svg'); /* url('../img/fullExtent.png');*/
}

.left-border {
  border-left: 1px solid #ccc;
}

.right-border {
  border-right: 1px solid #ccc;
}

figure>div.centered {
  position:relative;

}


 span.photo-credit{
  position: absolute;
  color: #333;
  bottom: 0px;
  right: 0px;
  font-size: 0.9em;
}

span.photo-credit.large{
  font-size: 1.1em;
  padding: 50px;  
}

 span.photo-credit.medium{
  font-size: 1em; 
  padding: 25px;
}

span.photo-credit.small{
  font-size: 0.9em; 
  padding: 10px;
}

span.photo-credit.se{
  bottom: 0px;
  right: 0px;
}

span.photo-credit.medium.ne{
  top: 0px;
  right: 0px;
}
span.photo-credit.medium.nw{
  top: 0px;
  left: 0px;
}
span.photo-credit.medium.sw{
  bottom: 0px;
  left: 0px;
}
span.photo-credit.white{
  color: #ddd;
}

.featureBlock .featureContent {
  z-index: 7;
}

.bordercms {
  border: 2px solid red;
}

.column.bordercms {
  border: 1px solid rgb(89, 0, 255);
}

.tabContent .column h2:first-child {
  margin-top: 0px!important;
}